extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
    //- img(src='/images/tu_dresden.png', alt='Welcome Image'))
  .container
    //- h1 Copycat Manufacturing Demo
    //- .embed-responsive.embed-responsive-16by9
    //-   iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    //- br
    h1 Copycat Manufacturing Demo
